.container{
    padding-top: 70px;
}
.FullForm{
    margin: 20px auto; /*requires explicit height*/
}
.Mainfield{
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 3px;
}
.checkbox{
    padding-top: 12px;
}
.buttons{
    
    right: 15%;
    position: center;
}
.btn{
    margin-top: 40px;
    margin-right: 20px;
    margin-bottom: 30px;
}